<?xml version="1.0"?>
<opencv_storage>
    <arff>"Input/cpu.arff"</arff>
    <depth_limit>"100"</depth_limit>
    <const_min>"-2"</const_min>
    <const_max>"2"</const_max>
    <mutation>"0.4"</mutation>
    <population>"5000"</population>
    <sample>"15"</sample>
    <iteration>"500"</iteration>
    <server>"192.168.1.130"</server>
    <port>"80"</port>
    <machine>"192.168.1.109"</machine>
</opencv_storage>
